
<%
require 'rubygems'
require 'Date'
require 'httparty'

  def get_rav_projects(user, key)
    status = "frogged in-progress hibernating finished"
    HTTParty.get('http://api.ravelry.com/projects/'+user+'/progress.json', :query => {:key => key, :status => status, :notes => 'false' })
  end

  # Prepare the project data for sorting and reporting
  def prep_data(in_array)

    inProgVal = 0
    finishedVal = 0
    hibernatingVal = 0
    froggedVal = 0

    happy1 = 0
    happy2 = 0
    happy3 = 0
    happy4 = 0
    happy5 = 0

    # create numerical values for the status 
    for index in 0 ... in_array['projects'].size
      if in_array['projects'][index]['status'] == 'in-progress'
         in_array['projects'][index]['statusVal'] = '0'
         inProgVal = inProgVal + 1 
      elsif in_array['projects'][index]['status'] == 'finished'
         in_array['projects'][index]['statusVal'] = '1'
         finishedVal = finishedVal + 1;
      elsif in_array['projects'][index]['status'] == 'hibernating'
         in_array['projects'][index]['statusVal'] = '2'
         hibernatingVal = hibernatingVal + 1;
      elsif in_array['projects'][index]['status'] == 'frogged'
         in_array['projects'][index]['statusVal'] = '3'
         froggedVal = froggedVal + 1;
      end

      # create actual dates to allow descending sort
      if in_array['projects'][index]['started'].nil?
         in_array['projects'][index]['startDate'] = Date.today
      else
         in_array['projects'][index]['startDate'] = Date.parse(in_array['projects'][index]['started'])
      end

      # happiness
      if in_array['projects'][index]['happiness'] == 1
        happy1 = happy1 + 1
      elsif in_array['projects'][index]['happiness'] == 2
        happy2 = happy2 + 1
      elsif in_array['projects'][index]['happiness'] == 3
        happy3 = happy3 + 1
      elsif in_array['projects'][index]['happiness'] == 4
        happy4 = happy4 + 1
      elsif in_array['projects'][index]['happiness'] == 0
        happy5 = happy5 + 1
      end
    end

    # calculate project completion percentages
    in_array['inProgPct'] = ((inProgVal.to_f / in_array['projects'].size) * 100).round(2)
    in_array['finishedPct'] = ((finishedVal.to_f / in_array['projects'].size) * 100).round(2)
    in_array['hibernatingPct'] = ((hibernatingVal.to_f / in_array['projects'].size) * 100).round(2)
    in_array['froggedPct'] = ((froggedVal.to_f / in_array['projects'].size) * 100).round(2)


    # calculate project happiness percentages
    in_array['happy1Pct'] = ((happy1.to_f / in_array['projects'].size) * 100).round(2)
    in_array['happy2Pct'] = ((happy2.to_f / in_array['projects'].size) * 100).round(2)
    in_array['happy3Pct'] = ((happy3.to_f / in_array['projects'].size) * 100).round(2)
    in_array['happy4Pct'] = ((happy4.to_f / in_array['projects'].size) * 100).round(2)
    in_array['happy5Pct'] = ((happy5.to_f / in_array['projects'].size) * 100).round(2)

  end

# http://api.ravelry.com/projects/amygk/progress.json?key=35aba1d1cc4f3e6e3ac6c841adb0f6cc2c65b2e9&status=in-progress+hibernating+finished+frogged&notes=true

# get all the data
value = get_rav_projects('amygk', '35aba1d1cc4f3e6e3ac6c841adb0f6cc2c65b2e9')

# prep data for sorting
prep_data(value)

# sort by status, then by start date descending
result = value['projects'].sort_by{|project| [ project['statusVal'], -project['startDate'].strftime("%s").to_i ] }
 %>
<div class="description">
  <h1>&nbsp;</h1>
  <p>&nbsp;</p>
</div>

<div class="mod inventory-featured-default type-1">
  <div class="top">
    <div class="tl"></div>

    <div class="tr"></div>
  </div>

  <div class="inner">
    <div class="inner2">
      <div class="hd">
	<div class="hd2">
	  <h1></h1>
	</div>
      </div>


      <div class="bd">
	<div class="bd2">
	  <div class="hproducts">
	    <% for index in 0 ... result.size %>
            <div class="hproduct auto">
              <div class="">
                <div class="media">
                  <a href="<%= result[index]['url'] %>">
                    <img class="photo thumb"
  		   	 src="<%=result[index]['thumbnail']['src']%>" /></a>
                </div>

                <h1 class="fn h3"><a href="<%=result[index]['url']%>"
				     rel="product" class="url"><%=result[index]['name']%></a></h1>
		
                <p style="color:#000"><%=result[index]['status']%></p>
			 

	      </div>
	    </div>
	    <% end %>
	  </div>
	  <div class="info"></div>
	  <div class="slider ui-slider">
	    <a href="javascript:void(0)" style="cursor: default;"><div class="ui-slider-handle"></div></a>
	  </div>
	</div>

      </div>
    </div>
  </div>
</div>
  <div style='margin-left:10px;'>
  <br />
  <br />
  <table border="0" width="100%" cellpadding="10" cellspacing="0">
  <tr>
  <td>
  <h1 style='color:black'>Project Completion</h1>
  <table border="0" width="50%"cellpadding="0" cellspacing="0">
    <tr>
      <td width="<%= value['inProgPct']%>%" style='background-color:green'>&nbsp;</td>
      <td width="<%= value['finishedPct']%>%" style='background-color:blue'>&nbsp;</td>
      <td width="<%= value['hibernatingPct']%>%" style='background-color:brown'>&nbsp;</td>
      <td width="<%= value['froggedPct']%>%" style='background-color:red'>&nbsp;</td>
    </tr>
  </table>
  <ul>
    <li style='color:green'>In progress: <%= value['inProgPct']%>%</li>
    <li style='color:blue'>Finished: <%= value['finishedPct']%>%</li>
    <li style='color:brown'>Hibernating: <%= value['hibernatingPct']%>%</li>
    <li style='color:red'>Frogged: <%= value['froggedPct']%>%</li>
    <li>&nbsp;</li>
  </ul>
  </td>
    <td>
  <h1 style='color:black'>Project Happiness</h1>
  <table border="0" width="50%"cellpadding="0" cellspacing="0">
    <tr>
      <td width="<%= value['happy4Pct']%>%" style='background-color:green'>&nbsp;</td>
      <td width="<%= value['happy3Pct']%>%" style='background-color:blue'>&nbsp;</td>
      <td width="<%= value['happy2Pct']%>%" style='background-color:brown'>&nbsp;</td>
      <td width="<%= value['happy1Pct']%>%" style='background-color:orange'>&nbsp;</td>
      <td width="<%= value['happy5Pct']%>%" style='background-color:red'>&nbsp;</td>
    </tr>
  </table>
  <ul>
    <li style='color:green'>Very Happy: <%= value['happy4Pct']%>%</li>
    <li style='color:blue'>Happy: <%= value['happy3Pct']%>%</li>
    <li style='color:brown'>OK: <%= value['happy2Pct']%>%</li>
    <li style='color:orange'>Eh: <%= value['happy1Pct']%>%</li>
    <li style='color:red'>Unhappy: <%= value['happy5Pct']%>%</li>
  </ul>
    </td>
  </tr>
  </table>
</div>
